body {
	width: 100vw;
	display: flex;
	margin: 0;
	height: 100vh;
	opacity: 1;
	background: #404040;
	background: radial-gradient(
		circle,
		rgba(0, 0, 0, 1) 0%,
		rgba(48, 48, 48, 1) 100%
	);
}

html {
	background: #404040;
	background: radial-gradient(
		circle,
		rgba(0, 0, 0, 1) 0%,
		rgba(48, 48, 48, 1) 100%
	);
	color: white;
	font-family: "fantasy", monospace;
}
