.hide {
	display: none;
	opacity: 0;
}

.main_button {
	border: 1px rgb(0 0 0) dashed;
	background-color: black;
	color: white;
	border-radius: 3px;
}

.main_button:hover {
	border: 1px black dashed;
	background-color: white;
	color: black;
}
