#editor {
	display: block;
	overflow: auto;
	width:60vw;
}

#list_project {
	height: 100%;
}

#list_project button {
	max-width: 35vw;
	overflow: auto;
}

#list_project ul {
	max-height: 70vh;
	overflow: auto;
	padding: 1%;
}

#list_project li {
	margin: 10px;
	list-style: none;
}

#list_project li button:first-child {
	font-size: 20px;
	margin: 10px;
}

#list_project li button:last-child {
	font-size: 10px;
	margin: 10px;
	border: none;
	border-radius: 10px;
}

#list_project li button:last-child:hover {
	color: rosybrown;
}

#menu_editor {
	border-bottom: 1px red dashed;
	padding: 1rem 1rem 0 1rem;
	min-height: 10%;
}

#menu_editor h2 {
	width: fit-content;
	margin: 0 10px 10px 10px;
	display: inline;
}

#menu_editor h4 {
	font-size: 14px;
	display: inline-block;
}

#menu_editor button {
	float: right;
	transform: translateY(5px);
}

#editor_task {
	height: 80vh;
	background-color: white;
	border-radius: 5px;
	margin: 16px 16px 0;
	padding: 16px;
	color: black;
}

#create_project {
	margin: 1rem;
}

#create_project button {
	margin: auto;
	display: block;
	font-size: 20px;
}

#create_project label {
	display: block;
}

#menu_editor_editor aside {
	width: 30%;
	display: inline-block;
	flex-wrap: wrap;
	margin: 0;
}

#menu_editor_editor aside > * {
	margin: 0;
}
