*{
	color: white;
}

html {
	background: rgb(5, 0, 0);
	font-family: "fantasy", monospace;
	overflow:hidden;
}

body{
	height: 100vh;
	width: 100vw;
}


/* Tag styles */
button {
	cursor: pointer;
	background-color: transparent;
	border: none;
	border-bottom: 1px cornflowerblue solid;
}

button:hover {
	border-bottom: 1px rosybrown solid;
}

/* Utility classes */
.hide {
	display: none;
	opacity: 0;
}

.m-0 {
	margin: 0;
}

#addons {
	width: 20vw;
	display: inline-block;
}

/* Component: Focus section */
#focus {
	height: 10vh;
	display: flex;
}


.focus_aside {
	display: inline-block;
	width: 50%;
	height: 100%;
}

/* Component: Task section */
#task {
	height: 80vh;
}

.task_aside {
	height: calc(50% - 2px);
	padding: 0;
	display: block;
}

#list_task {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#list_task > button {
	position: relative;
	margin: auto;
	height: 20px;
}

#list_task > ul {
	height: calc(100% - 20px);
	margin: 0;
	list-style: none;
	text-align: center;
	padding: 0;
}

#list_task li button {
	border: 1px double cornflowerblue;
	border-radius: 5px;
}

#list_task li {
	margin: 10px;
}

/* Component: Menu footer */
#menu {
	display: inline-block;
	height: 10vh;
	width: 100%;
}

/* Component: Help sidebar */
#help {
	width: 35vw;
	display: inline-block;
	height: 100%;
	position: absolute;
	top:0%;
	left: 60vw;
}

/* Common panel styles */
.panel {
	background-color: rgba(200, 200, 200, 0.05);
	border: white dashed 1px;
	padding: 16px;
}

.panel > * {
	padding-top: 3px;
}

#help_panel {
	height: calc(90vh - 56px);
	display: block;
}

#help_menu {
	height: 10vh;
	display: block;
}

/* Component: Editor main */
#editor {
	display: inline-block;
	height: 100vh;
	width: 35vw;
	margin:  0 2vw 0 2vw ;
	position: absolute;
	top:0%;
	left: 20vw;
}

#list_project {
	height: 100%;
}

#list_project button {
	max-width: 35vw;
}

#list_project ul {
	max-height: 70vh;
	overflow: auto;
	padding: 1%;
}

#list_project li {
	margin: 10px;
	list-style: none;
}

#list_project li button:first-child {
	font-size: 20px;
	margin: 10px;
}

#list_project li button:last-child {
	font-size: 10px;
	margin: 10px;
	border: none;
	border-radius: 10px;
}

#list_project li button:last-child:hover {
	color: rosybrown;
}

#menu_editor {
	padding: 1rem 1rem 0 1rem;
	min-height: 10%;
}

#menu_editor h2 {
	width: fit-content;
	margin: 0 10px 10px 10px;
	display: inline;
}

#menu_editor h4 {
	font-size: 14px;
	display: inline-block;
}

#menu_editor button {
	float: right;
	transform: translateY(5px);
}

#editor_task {
	height: calc(90vh - 56px);
}

#create_project {
	margin: 1rem;
}

#create_project button {
	margin: auto;
	display: block;
	font-size: 20px;
}

#create_project label {
	display: block;
}

#menu_editor_editor aside {
	width: 30%;
	display: inline-block;
	flex-wrap: wrap;
	margin: 0;
}

#menu_editor_editor aside > * {
	margin: 0;
}
